.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}
.contentWrapper {
  margin-top: 40px;
  margin-bottom: 80px;
  display: flex;
  gap: 32px;
}
.flex {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.img {
  border: 1px solid #393;
  border-radius: 12px;
  width: 200px;
  height: 180px;
}

.imgMain {
  width: 100%;
  display: block;
  border-radius: 12px;
  width: 548px;
  height: 572px;
  object-fit: cover;
  padding: 10px;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.blockPrice {
  display: flex;
  align-items: baseline;
  position: relative;
}
.discontPrice {
  font-weight: 600;
  font-size: 64px;
  color: #282828;
  margin-right: 32px;
}
.price {
  font-weight: 500;
  font-size: 40px;
  text-decoration: line-through;
  color: #8b8b8b;
}
.discount {
  border-radius: 6px;
  padding: 4px 8px;
  width: 63px;
  height: 34px;
  background: #0d50ff;
  font-weight: 600;
  font-size: 20px;
  color: #fff;
  position: absolute;
  top: 0;
  right: 179px;
}
.blockCountButton {
  display: flex;
  gap: 32px;
}
.blockWrapper {
  display: flex;
}
.btn {
  border: 1px solid #ddd;
  border-radius: 6px;
  width: 58px;
  height: 58px;
  color: #8b8b8b;
  padding: 0;
  font-size: 42px;

  cursor: pointer;
  background: #fff;
}

.count {
  border: none;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  width: 96px;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #282828;
  outline: none;
}
.button {
  border-radius: 6px;
  padding: 16px 32px;
  width: 284px;
  background: #0d50ff;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #fff;
  border: none;
  cursor: pointer;
}

.button:hover {
  background: #282828;
}

.title {
  font-weight: 600;
  font-size: 20px;
  color: #282828;
}
.description p {
  margin-top: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #282828;
}

.readMore {
    margin-top: 32px;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #282828;
  cursor: pointer;
  background: #fff;
  border: none;
}
