.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}
.contentWrapper {
  margin-top: 40px;
  margin-bottom: 80px;
  display: flex;
  gap: 32px;
}
.flex {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.img {
  border: 1px solid #393;
  border-radius: 12px;
  width: 200px;
  height: 180px;
}

.imgMain {
  width: 100%;
  display: block;
  border-radius: 12px;
  width: 548px;
  height: 572px;
  object-fit: cover;
  padding: 10px;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}


.count {
  border: none;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  width: 96px;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #282828;
  outline: none;
}

.blockCountButton {
  display: flex;
  gap: 32px;
 
}


.added {
  background: #fff;
  color: #282828;
  border: 1px solid #282828;
}

.added:hover {
  background: #fff;
  color: #282828;
}

.title {
  font-weight: 600;
  font-size: 20px;
  color: #282828;
}
.description p {
  margin-top: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #282828;
}

.readMore {
    margin-top: 32px;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #282828;
  cursor: pointer;
  background: #fff;
  border: none;
}

@media (max-width: 1200px) {


.img{
  display: none;
}



}

@media (max-width: 768px) {

  .contentWrapper {
flex-direction: column;
}
}