.card {
  border: 1px solid #ddd;
  border-radius: 12px;
  width: 316px;
  position: relative;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.card:hover {
  transform: scale(1.02);
}

.img {
  width: 100%;
  display: block;
  height: 284px;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom: 1px solid #ddd;
}

.title {
  font-weight: 500;
  font-size: 20px;
  margin: 20px 32px 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #282828;
}
.blockPrice {
  display: flex;
  gap: 16px;
  align-items: baseline;
  margin-left: 32px;
  margin-bottom: 32px;
}
.discontPrice {
  font-weight: 600;
  font-size: 40px;
  color: #282828;
}
.price {
  font-weight: 500;
  font-size: 20px;

  text-decoration: line-through;
  color: #8b8b8b;
}
.discount {
  border-radius: 6px;
  padding: 4px 8px;
  width: 63px;
  height: 34px;
  background: #0d50ff;
  font-weight: 600;
  font-size: 20px;
  color: #fff;
  position: absolute;
  top: 16px;
  right: 16px;
}



.buttonWrapper {
  position: absolute;
  top: 210px;
  left: 16px;
  display: none;
}

.card:hover .buttonWrapper {
  display: block;
}
