.img {
  width: 100%;
  display: block;
  height: 350px;
  object-fit: cover;
  border-radius: 12px;
}

.title {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  margin-top: 16px;

  /* text-decoration: none; */
}